/* Para la cabecera del BarberTalk (ESTILOS) */
*{
    padding: 0;
    margin: 0;
  } 
  
  header h1{
    /* font-size: 50px; */
    font: bold 50px 'Times', sans-serif;  
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px; /* Tamaño del cuadro   */
  }
  
  nav ul{
    background-color: #757575;
    width: 100%;
    list-style-type: none;
    text-align: center;
  }
  
  nav li {
    display: inline-flex;
  }
  
  nav a{
    font: bold 15px Times, sans-serif;
    text-decoration: none;
    color: white;
    padding: 8px;
    width: 150px;
  }
  
  nav li:hover{
    background-color: black;
  } 
  

  
/* Esto es para el fondo */
  /* body{
    background-image: url(img/FondoInicio.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
 } */

 .Fondo1{
    background-image: url(img/FondoInicio.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
 }








/* Esto es para el texto de la presentacion */
*{
    padding: 0;
    margin: 0;
}

h1{
    font-size: 50px; /* Tamaño de letra */
    text-align: center;
    background-color: black;
    color: black;
    padding: 50px; /* Tamaño del cuadro  */
}

p{
    color: black;
    text-align: justify;
    gap: 10px;
}

h2 {
    color: black;
}

nav ul{
    background-color: #757575;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a{
    font: bold 15px Times, sans-serif;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}

nav li:hover{
    background-color: black;
}

img {
    width: 200px;
    height: 200px;
    /* border-radius: 50%; Esto es lo que le da el circulo a la imagen */
    object-fit: cover;
}

.contenido{
    display: flex;
     margin: 60px;/* Esto le da tamaño al contenido */
}



.menu-secundario{
    width: 20%;
    margin-top: 60px;
}

.menu-secundario a{
    display: block;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.menu-tercero{
    width: 20%;
    margin-top: 60px;
}

.menu-tercero a{
    display: block;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    margin-top: 40px;
}

footer p{
    text-align: center;
    padding: 50px;
}
















/* Esto es para darle el diseño del fondo de la presentacion como la opacidad */
.c1{
    background-color: #ffffff ;
    background-size: contain;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
     opacity: 85%;
}


/* Esto es para darle estilo a la prsentacion */
.d1{
    display: flex;
    align-items: center;
    margin-top: 2%;
    
}



 /* Esto para las imagenes de la presentacion */
 .container {
     display: flex;
     /* width: 800px;  Espacio entre el borde de la pagina para el contenedor de las imagenes */
    /* Espacio entre cada cuadro de la imagen*/
    text-align: center; 
    margin: 0 auto;  
}


.container > div {
    /* background-color: black; */
    padding: 20px 0;
    font-size: 20px;
    color: black;
}

.BarbaInicio{
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}


.botonInicio > p> a> .botonI{
    font: 25px Times, sans-serif;
    color: white;
    background-color: rgb(224, 161, 60);
    position: absolute;
    border-color: rgb(224, 161, 60);
    top: 58%;
    left: 40%; 
}

.S{
    background-color: #ffffff ;
    background-size: contain;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
     opacity: 80%;
}

.S > h2{
    font-size: 25px; /* Tamaño de letra */
    text-align: justify;
    color: black;
    margin-left: 5%;
}

.servicios{
    align-items: center;
    margin-left: 10%;
    margin-right: 5%;
    width: 1050px;
    height: 150px;
}



/* Esto es para darle el diseño del fondo de la presentacion como la opacidad */
.e1{
    background-color: #757575 ;
    background-size: cover;
     text-align: center; 
     opacity: 0.9; 
}

/* Esto es para darle estilo a la prsentacion */
.f1{
    display: flex;
    width: 1550px ;  
    align-items: center;
}

 /* Esto para las imagenes de la presentacion */
 .Servicios {
    display: flex;
    width: 800px; /* Espacio entre el borde de la pagina para el contenedor de las imagenes */
    gap: 10px;   /* Espacio entre cada cuadro de la imagen*/
    text-align: center; 
    margin: 0 auto; 
}


/*Aqui empieza la programacion de la parte de equipo de Barberos */
.Fondo2{
    background-color: #464040;
}

.Equipo{
    background-size: contain;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    
}

.Equipo > .E{
    display: flex;
    align-items: center;
    margin-top: 2%;
}

 h3{
    font-size: 25px; /* Tamaño de letra */
    text-align: justify;
    color: white;
    margin-left: 5%;
}

.barbero1{
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 500px;
    height: 220px;
}

.barbero2{
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 500px;
    height: 220px;
}



/*Aqui empieza la programacion de la seccion de datos de Barber Talk y AxolBit */
.Fondo3{
    background-color: black;
}

.BarberAbajo{
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 420px;
    height: 120px;
}

.datos > p{
    color: white;
    margin-left: 11%;
}

h4{
    font-size: 15px; /* Tamaño de letra */
    text-align: justify;
    color: #E6A749;
    margin-left: 11%;
}

.datos > .masinfo > .info  > li > a{
    font-size: 12px; /* Tamaño de letra */
    text-align: justify;
    color: white;
    margin-left: 11%;
}

.datos > .masinfo > .ubicacion > h5{
    font-size: 15px; /* Tamaño de letra */
    text-align: justify;
    color: #E6A749;
    margin-left: 11%;
}

.datos > .masinfo > .ubicacion > p{
    font-size: 12px; /* Tamaño de letra */
    text-align: justify;
    color: white;
    margin-left: 11%;
}

h6{
    font-size: 15px; /* Tamaño de letra */
    text-align: justify;
    color: #E6A749;
    margin-left: 11%;
}


.datos > .masinfo > .ubicacion > h7 {
    font-size: 18px; /* Tamaño de letra */
    text-align: center;
    color: #E6A749;
    margin-left: 35%;
}

.datos > .masinfo > .ubicacion > .marca{
    font-size: 12px; /* Tamaño de letra */
    text-align: center;
    color: #E6A749;
    margin-left: 0%;
}


  

