/* Para la cabecera del BarberTalk (ESTILOS) */
*{
  padding: 0;
  margin: 0;
} 

header h1{
  /* font-size: 50px; */
  font: bold 50px 'Times', sans-serif;  
  text-align: center;
  background-color: black;
  color: white;
  padding: 30px; /* Tamaño del cuadro   */
}

nav ul{
  background-color: #757575;
  width: 100%;
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline-flex;
}

nav a{
  font: bold 15px Times, sans-serif;
  text-decoration: none;
  color: white;
  padding: 8px;
  width: 150px;
}

nav li:hover{
  background-color: black;
} 







/* Esto es el estilo del calendario */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

   html, body{
    background-image: url(FondoCita.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100%;
    max-width: 100%
} 

/* Aqui estabas editando */
  .calendario2{
    margin: 10px 40%; /*izquierda pone la altura, derecha pone la posicion */
    position: absolute;  /* Pon el absolute siempre que ocupes el margin */
  }

  .contianer {
    margin: 0 60%; /*izquierda pone la altura, derecha pone la posicion */
    width: max-content;
    height: max-content;
    position: relative;
    display: flex;
    padding: 2% 0px 0px 0px;
  }

  .calendar {
    
    height: 610px;
    width: max-content;
    background-image: url(negro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
    
    border-radius: 25px;
    overflow: hidden;
    padding: 30px 30px 0px 30px;
  }

  .calendar {
    box-shadow: var(--shadow);
  }
  .calendar-header {
    background: #A85D26;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    color: var(--white);
    padding: 10px;
  }
  .calendar-body {
    pad: 10px;
  }
  .calendar-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    cursor: pointer;
    color:white;
  }
  .calendar-week-days div:hover {
  color: black;
  transform: scale(1.2);
  transition: all .2s ease-in-out;
  }
  .calendar-week-days div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
    height: 50px;
  }
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    /* color: var(--color-txt); */   
  }

 

  .calendar-days div {
    border-color: rgb(224, 161, 60);
    width: 37px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;

   
  }
  .month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    
  }
  .month-picker:hover {
    background-color: var(--color-hover);
  }
  .month-picker:hover {
    color: var(--color-txt);
  }


  .year-picker {
    color: white;
    display: flex;
    align-items: center;
  }
  .year-change {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0px 10px;
    cursor: pointer;
  }
  .year-change:hover {
    background-color: var(--light-btn);
    transition:all .2s ease-in-out ;
    transform: scale(1.12);
  }
  .year-change:hover pre {
    color: var(--bg-body);
  }
  .calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #year:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2 ease-in-out;
  }
  .calendar-days div span {
    position: absolute;
  }

   /* .calendar-days div:hover {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    background-color: #E6A809;
    border-radius: 70%;
    color: var(--dark-text);
  } */

  .calendar-days div.current-date {
    color: var(--dark-text);
    background-color: var(--light-btn);
    border-radius: 20%;
  }

  .calendar-days{
    color: white;
  }
  .month-list {
    position: relative;
    left: 0;
    top: -50px;
    background-color: #ebebeb;
    color: var(--light-text);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    border-radius: 20px;
  }
  .month-list > div {
    display: grid;
    place-content: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
  }
  .month-list > div > div {
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
  }
  .month-list > div > div:hover {
    background-color:var(--light-btn);
    color: var(--dark-text);
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
  }
  .month-list.show {
    visibility: visible;
    pointer-events: visible;
    transition: 0.6s ease-in-out;
    animation: to-left .71s forwards;
  }
  .month-list.hideonce{
    visibility: hidden;
  }
  .month-list.hide {
    animation: to-right 1s forwards;
    visibility: none;
    pointer-events: none;
  }
  .date-time-formate {
    width: max-content;
    height: max-content;
    font-family: Dubai Light, Century Gothic;
    position: relative;
    display: inline;
    top: 140px;
    justify-content: center;
  }
  .day-text-formate {
    font-family: Microsoft JhengHei UI;
    font-size: 1.4rem;
    padding-right: 5%;
    position: absolute;
    left: -1rem;
    color: white;
  }
  .date-time-value {
    display: block;
    height: max-content;
    width: max-content;
    position: relative;
    left: 40%;
    top: -18px;
    text-align: center;
  }
  .time-formate {
    font-size: 1.5rem;
    color: white;
  }
  .time-formate.hideTime {
    animation: hidetime 1.5s forwards;
  }
  .day-text-formate.hidetime {
    animation: hidetime 1.5s forwards;
  }
  .date-formate.hideTime {
    animation: hidetime 1.5s forwards;
    color: white;
  }
  .day-text-formate.showtime{
    animation: showtime 1s forwards;
  }
  .time-formate.showtime {
    animation: showtime 1s forwards;
  }
  .date-formate.showtime {
    animation: showtime 1s forwards;
  }

  .date-formate{
    color: white;
  }
  @keyframes to-top {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(100%);
      opacity: 1;
    }
  }
  @keyframes to-left {
    0% {
      transform: translatex(230%);
      opacity: 1;
    }
    100% {
      transform: translatex(0);
      opacity: 1;
    }
  }
  @keyframes to-right {
    10% {
      transform: translatex(0);
      opacity: 1;
    }
    100% {
      transform: translatex(-150%);
      opacity: 1;
    }
  }
  @keyframes showtime {
    0% {
      transform: translatex(250%);
      opacity: 1;
    }
    100% {
      transform: translatex(0%);
      opacity: 1;
    }
  }
  @keyframes hidetime {
    0% {
      transform: translatex(0%);
      opacity: 1;
    }
    100% {
      transform: translatex(-370%);
      opacity: 1;
    }
  }
  @media (max-width:375px) {
    .month-list>div{
  
      margin: 5px 0px;
    }
  }






/* Esto es para el cuadro donde llena los datos */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1f53c5;
} 


.cuadro3{
  margin: 25px 5%;/*izquierda pone la altura, derecha pone la posicion */
  position: absolute;  /*  Siempre pon el absolute cuando uses el margin */
  top: 20%;
  left: 5%;
  width: 38%;
  background-color: #24303c;
  border-radius: 8px;
  font-family: 'calibri';
  color: white;
  line-height: 22%;
  opacity: 90%;
}

.cuadro h4{
  /* margin-top: auto; */
  font: bold 22px 'Times', sans-serif;  
  background-color: #E6A809;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  width: 95%;
  margin: 0px 0%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white; /*Color de texto de cuando se rellena el campo */
}

.calendario{
  width: 120px;
}


.cuadro p{
  height: 40px;
  text-align: justify;
  font-size: 18px;  
  line-height: 40px;
  margin-left: 83;
}

.cuadro p> span > .dia-hora{
  align-items: center;
  text-align: justify; 
  font-size: 18px;  
  line-height: 40px;
  margin-left: 1%;
  margin-right: 3%;

}



.cuadro  .s2{
  color: white;
  font-size: 16px;  
}


.cuadro header {
  width: 50%;
  margin: 30px 25%;
  text-align: center;
}

.cuadro .botones {
  width: 50%;
  margin: 30px 25%;
  background: #E6A809;
  border: none;
  padding: 12px;
  color: white;
  font-size: 16px;
  text-align: center;
}


.cuadroBarberoyServicios{
  background-color: #605D5D;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 10%;
}

.cuadroBarberoyServicios > h5{
  font: bold 18px 'Times', sans-serif;  
  background-color: #A85D26;
  margin-bottom: 20px;
  text-align: center;
}

.cuadroBarberoyServicios > h6{
  font: bold 18px 'Times', sans-serif;  
  background-color: #A85D26;
  margin-bottom: 20px;
  text-align: center;
}

.cuadroBarberoyServicios > .container6{
    font: bold 15px;  
    text-align: center;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px; 
}


/* Esto es para la parte de los precios por los servicios */

.contianerPrecio{
  background-color: black;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 10%;
}

/* .cuadroBarberoyServicios{
  h7{
     font: bold 18px 'Times', sans-serif;  
     background-color: #A85D26;
     margin-bottom: 20px;
     text-align: center;
    
  }
  } */







/* Esto es para el cuadro de datos de la parte de seleccionar barbero */


.barbero {
  display: flex;
  width: 500px; /* Espacio entre el borde de la pagina para el contenedor de las imagenes */
  gap: 10px;   /* Espacio entre cada cuadro de la imagen*/
  text-align: center; 
  
}

.barbero > div {
  padding: 20px 0;
  font-size: 20px;
  color: white;
  
}


.Juan{
  flex: 1;
}

.Pedro{
  flex: 1;
}

.Foto{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}


