/* Para la cabecera del BarberTalk (ESTILOS) */
*{
    padding: 0;
    margin: 0;
} 

header h1{
    font-size: 50px;
    /* font: bold 50px 'Times', sans-serif;  */
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px; /* Tamaño del cuadro   */
}

nav ul{
    background-color: #757575;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a{
    font: bold 15px Times, sans-serif;
    text-decoration: none;
    color: white;
    padding: 8px;
    width: 150px;
}

nav li:hover{
    background-color: black;
} 




/* Estilos de la seccion de registro */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.FondoRegistro  {
    background-image: url(img/Registro.png);
    background-size: cover; 
    width: 1510px;
    height: 743px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100%;
    max-width: 100%

}


.formulario-registro{
    width: 400px;
    background-color: #24303c;
    padding: 20px;
    margin: auto;
    margin-top: 5px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000; /* Efecto de sombra */
}



.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white; /*Color de texto de cuando se rellena el campo */
}

.formulario-registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;  
    line-height: 40px;
    
}


.formulario-registro a {
    color: white;
    text-decoration: none;   
     
}


.formulario-registro a:hover{
    color: white;
    text-decoration: underline;    
}

.botones {
    width: 30%;
    background: #E6A749;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    text-align: center;
}

.radioA{
    position: absolute;
    top: 50%;
    left: 45%;
}


.container {
    display: flex;
    width: 1000px; /* Espacio entre el borde de la pagina para el contenedor de las imagenes */
    gap: 30px;   /* Espacio entre cada cuadro de la imagen*/
    text-align: center;
    margin: 0 auto;
    line-height: 230px;   
}

.container > div {
    font-size: 20px;
    border: 1px solid black;
    opacity: 93%;
    background-color: #24303c;
    border-radius: 4%;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000; /* Efecto de sombra */
}

.Complicated{
    flex: 1;
}

h4{
    font: bold 22px 'Times', sans-serif;  
    margin-bottom: 20px;
    text-align: center;
    margin-top: 2%;
}

/* Estilos del primer cuadro */

.container > .Complicated > .cuadro1 {
    width: 450px; /* Espacio entre el borde de la pagina para el contenedor de las imagenes */
    text-align: center;
    line-height: 60px;  
    position: absolute;
    top: 33%;
    left: 19%;  
}

/* Estilos del segundo cuadro */

.container > .Complicated > .cuadro2 {
    width: 450px; 
    text-align: center;
    line-height: 60px;  
    position: absolute;
    top: 33%;
    left: 51%;  
}


.cuenta{
    position: absolute;
    top: 70%;
    left: 45%;
    color: white;
}

.ini{
    position: absolute;
    top: 70%;
    left: 45%;
}


