/* Para la cabecera del BarberTalk */
*{
    padding: 0;
    margin: 0;
}

h1{
    font: bold 50px Times, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px; /* Tamaño del cuadro  */   
}

p{
    color: white;
}

h2 {
    color: white;
}

nav ul{
    background-color: #757575;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a{
    font: bold 15px Times, sans-serif;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 170px;
}

nav li:hover{
    background-color: black;
}

body{
    background-image: url(img/FondoPerfilUsuario.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
} 

/* Aqui lo de estilos de perfil de usuarios */

.container {
    display: flex;
    width: 900px; /* Espacio entre el borde de la pagina para el contenedor de las imagenes */
    gap: 30px;   /* Espacio entre cada cuadro de la imagen*/
    text-align: center;
    margin: 0 auto;
    line-height: 87px;   
}

.container > div {
    border-radius: 4%;
    background-color: #fffF;
    border-color: black; 
    padding: 20px 0;
    font-size: 20px;
    margin-top: 40px; 
    border: 3px solid black;
    opacity: 87%;
}

.Complicated{
    flex: 1;
}



h3{
    font-size: 20px;
    position: absolute;
    top: 48%;
    left: 34%; 
    color: black;
}

.container > div > .nombrebarbero{
    position: absolute;
    top: 57%;
    left: 32%;
    width: 14%;
    background: white;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black; /*Color de texto de cuando se rellena el campo */
}


.imagenbarbero{
    border-radius: 90%;
    position: absolute;
    top: 30%;
    left: 35%; 
    
}

.container > div > .correoUsuario{
    position: absolute;
    top: 65%;
    left: 32%;
    width: 20%;
    background: white;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black; /*Color de texto de cuando se rellena el campo */
}

.imagenC{
    border-radius: 90%;
    position: absolute;
    top: 65.5%;
    left: 29%; 
}

.container > div > .telefonoUsuario{
    position: absolute;
    top: 73%;
    left: 32%;
    width: 14%;
    background: white;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black; /*Color de texto de cuando se rellena el campo */
}

.imagenT{
    border-radius: 90%;
    position: absolute;
    top: 74%;
    left: 29%; 
    
}


.lineavertical{
    display: block;
    height: 60%;
    border: 1.5px solid #000;
    position: absolute;
    top: 29%;
    left: 57%;
  }


  .containerCitas {
    display: flex;
    width: 300px; /* Espacio entre el borde de la pagina para el contenedor de las imagenes */
    gap: 30px;   /* Espacio entre cada cuadro de la imagen*/
    text-align: center;
    margin: 0 auto;
    line-height: 27px;   
    position: absolute;
    top: 27%;
    left: 58.5%;
}

/* Programacion del segundo cuadro "Estado de citas" */
.containerCitas > div {
    border-radius: 4%;
    background-color: #fffF;
    border-color: black; 
    padding: 20px 0;
    font-size: 20px;
    margin-top: 40px; 
    border: 3px solid black;
    opacity: 87%;
}

.ComplicatedCitas{
    flex: 1;
}

h4{
    font: bold 15px Arial, sans-serif;
    position: absolute;
    top: 28%;
    left: 5%; 
}

.containerCitas > div > .citasRealizadas{
    position: absolute;
    top: 50%;
    left: 8%;
    width: 10%;
    background: white;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black; /*Color de texto de cuando se rellena el campo */
}

.containerCitas > div > .citasR{
    font: bold 10px Arial, sans-serif;
    position: absolute;
    top: 71%;
    left: 7%; 
    color: black;
}

.containerCitas > div > .citasCanceladas{
    position: absolute;
    top: 50%;
    left: 44%;
    width: 10%;
    background: white;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black; /*Color de texto de cuando se rellena el campo */
}

.containerCitas > div > .citasC{
    font: bold 10px Arial, sans-serif;
    position: absolute;
    top: 71%;
    left: 42%; 
    color: black;
}

.containerCitas > div > .citasTotales{
    position: absolute;
    top: 50%;
    left: 76%;
    width: 10%;
    background: white;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black; /*Color de texto de cuando se rellena el campo */
}

.containerCitas > div > .citasT{
    font: bold 10px Arial, sans-serif;
    position: absolute;
    top: 71%;
    left: 77%; 
    color: black;
}

h5{
    font: bold 15px Arial, sans-serif;
    position: absolute;
    top: 52%;
    left: 59%; 
    color: black;
}







/* Este es el estilo de las estrellitas */
.containerEstrellas {
    display: flex;
    width: 300px; /* Espacio entre el borde de la pagina para el contenedor de las imagenes */
    gap: 30px;   /* Espacio entre cada cuadro de la imagen*/
    text-align: center;
    margin: 0 auto;
    line-height: 35px;   
    position: absolute;
    top: 55%;
    left: 58.5%;
    border-radius: 4%;
}

/* Programacion del segundo cuadro "Estado de citas" */
.ComplicatedEstrellas > div {
   
    background-color: #fffF;
    padding: 20px 0;
    font-size: 20px;
    margin-top: 40px; 
    opacity: 87%;
}

.ComplicatedEstrellas{
    flex: 1;
}




/* Esto es del estilo del boton */
form .btn{
    height: 30px;
    width: 100%;
    margin: 15px 0;
}

form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 15px;
    font-weight: 50;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .btn button:hover{
    background: #1b1b1b;

}


